body{
  font-family: Arial;
  background:#f4f4f4;
}

#loginBox{
  width:300px;
  margin:auto;
  margin-top:50px;
  text-align:center;
}

table{
  width:90%;
  margin:auto;
  border-collapse:collapse;
  background:#d9d9d9;
}

td, th{
  border:1px solid white;
  padding:8px;
  vertical-align:top;
}

.title{
  text-align:center;
  font-size:22px;
  background:#cfcfcf;
}

.criteria{
  width:40%;
  height:70px;
}

input[type=number]{
  width:80px;
  padding:5px;
}

button{
  padding:10px 20px;
  font-size:16px;
}

#judge{
  margin-top:20px;
}

#admin{
  text-align:center;
  margin-top:40px;
}
